<form method="post" action="{{ path('manual_delete', {'id': manual.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ manual.id) }}">
    <button class="btn btn-delete btn-round">Delete</button>
</form>
