@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,900&display=swap');

html * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Rubik', sans-serif;
    /* font-family: 'Exo 2', sans-serif; */
}


#general-header {
    background-color: grey;
}
body {

}
header, h1 {
    padding: 2%;
}

a {
    color: black;
}

li {
    list-style: none;
}
header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
nav {
    width: 50%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    /* gap: 4%; */
}

table {
    margin: 2%;
    border: 1px solid black;
}
td {
    background-color: rgb(51, 111, 51);
}
th {
    padding: 10px;
    background-color: brown;
}

form>div {
    width: 50vw;
    border: 1px solid black;
}
form>div>div {
    display: flex;
}
label {
    width: 20vw;
}