@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,900&display=swap');

html * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    --trans-bluegrey: rgba(128, 128, 128, 0.33);
    --trans-green: rgba(51, 111, 51, 0.371);
    --trans-red: rgba(111, 55, 51, 0.371);

    --general-bg: var(--trans-bluegrey);
    --thead-bg: rgba(151, 62, 55, 0.371);
    --thead-bg: rgba(26, 6, 4, 0.47);

    --tcell-bg: rgba(51, 111, 51, 0.371);
    --tcell-bg: rgba(38, 40, 38, 0.37);
    

    font-family: 'Rubik', sans-serif;
    /* font-family: 'Exo 2', sans-serif; */
    background-color: var(--general-bg);
    color:#000000f0;

}

#general-header {
    padding: 3%;
    background-color: var(--general-bg);
    width: 100vw;
    display: flex;
    justify-content: space-between;
}
#general-header a:hover {
    text-shadow: 1px 1px 5px white;
}

header {
    width: 100%;
}
header, h1 {
    padding: 2%;
}

#home-header  {
    background-color: var(--general-bg);
}
#home-header h1 {
    padding: 2% 0;
}
#home-header > div > div {
    padding-bottom: 1%;
}

.footer-actions {
    display: flex;
    align-items: center;
}

/* form */
form {
    margin: 2%;
}

form > div {
    /* width: 60vw; */
    padding: 2%;

    background-color: var(--trans-bluegrey);
    
    border-radius: 1px;
}

.form-login>div {
    /* width: 50vw; */
    max-width: 400px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin: 2%;
}

form>div>div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
}

.form-container, .my-container {
    width: 60vw;
    max-width: 400px;

    margin: 2%;
    padding: 2%;
    background-color: var(--trans-bluegrey);

    border-radius: 2px;
    box-shadow: 1px 1px 1px 3px var(--trans-bluegrey);
}
.form-container div, .my-container div {
    background-color: transparent;
}
.my-container {
    min-width: max-content;
    width: calc(max-content + 20px);

}
label {
    width: 20vw;
}

.attachments {
    padding-top: 2%;
}
.attachments > div {
    padding-bottom: 2%;
}

/* table */
table {
    margin: 2%;
}

th {
    padding: 10px 15px;
    background-color: var(--thead-bg);
    border-radius: 2px;
}

tr {
    height: max-content;
    border-radius: 2px;
}
.tr-order td {
}
tr:hover {
    background-color: rgba(255, 255, 255, 0.83);
}
td {
    height: 100%;

    background-color: var(--tcell-bg);
    text-align: center;
    padding: 10px 15px;
}
.td-actions {
    flex-direction: column;
    align-items: center;
    width: calc(max-content + 20px);
}



/* elements */
nav {
    width: 50%;
}
nav ul {
    display: flex;
    justify-content: space-between;
    /* gap: 4%; */
}
a {
    color: black;
    margin: 1%;
}
a:hover {
    text-shadow: 1px 1px 5px white;
}


li {
    list-style: none;
}

/* inputs */
input[type=text], input[type=email], input[type=password], textarea, option {
    padding: 1%;
    font-family: 'Rubik', sans-serif;
    border-radius: 10px;
    border: none;
}
input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, textarea:hover, option:hover {
    box-shadow: 1px 1px 5px white;
    
}

button {
    margin: 2%;
}

.btn-order {
    width: 20px;
    height: 20px;
    border-radius: 100%;
}

.btn-round {
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    width: 100px;
    height: 30px;
}

.btn-round:hover {
    box-shadow: 1px 1px 1px grey;
    cursor: pointer;
}

.btn-min {
    width: 100px;
    min-width: 40px;

    height: 20px;
}
.btn-delete {
    /* width: 30px;
    height: 30px; */

    width: 100px;
    min-width: 40px;

    height: 20px;

    margin: 1%;
    background-color: rgba(202, 35, 35, 0.7);

    cursor: pointer;
}
.btn-edit {
    background-color: rgba(202, 121, 35, 0.713);
}
.btn-show {
    background-color: rgba(55, 94, 35, 0.713);
}

button > a {
    text-decoration: none;
}

