{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
<div  class="backlink-container">
    <a href="{{ path('category_index') }}">back to list</a>
</div>

<div class="my-container">
    <header>
        <h1>Create new Category</h1>
    </header>

    {{ include('category/_form.html.twig') }}
</div>
{% endblock %}
