<form method="post" action="{{ path('receipt_delete', {'id': receipt.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ receipt.id) }}">
    <button class="btn">Delete</button>
</form>
